.top {
  display: flex;
}
.avatar > img {
  border-radius: 50%;
}
.imgtop {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
/* new post */
.update {
  margin: 5vh auto;
  width: 40vw;
  height: 120vh;
}
.update>Form{
    border-radius: 25px;
    padding: 5vh;
    color: rgba(59,177,153,255);
    }
.input {
  border: none;
}
.newpostTitile {
  display: flex;
  justify-content: center;
}

.postcardContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.postcard{
  width: 50%;
}





@media screen and (max-width:765px) {
    .update {
        width: 90vw;
      }

      .postcard{
        width: 100%;
      }
 
}
